.about {
    & {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    &__section {
        max-width: 475px;
    }

    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: rgba(77, 83, 60, 0.9);
        margin-bottom: 29px;
    }

    &__subtitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        color: #4D533C;
        max-width: 470px;
        position: relative;
        margin-bottom: 35px;
    }

    &__subtitle--marked {
        background-image: url(../imgs/marker.jpg);
        background-size: cover;
        min-width: 240px;
        padding-left: 10px;
        padding-right: 15px;
        position: sticky;
        z-index: -1;
    }

    &__description {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: rgba(33, 56, 66, 0.6);
        margin-bottom: 42px;
    }

    &__commentary {
        background: #FFFFFF;
        box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
        position: absolute;
        right: 0;
        top: -244px;
        padding: 244px 8px 60px 40px;
    }
}



@media (max-width: 1023.75px) {
    .about {
        justify-content: center;
        flex-direction: column;

        &__section {
            text-align: center;

            .link__text {
                justify-content: center;
            }
        }

        &__commentary {
            position: relative;
            top: 0;
            padding: 144px 8px 60px 8px;
            text-align: center;
        }
    }
}
