.brands {
    &__body {
        min-height: 227px;
        background: #FFFFFF;
        box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
        border-radius: 2px;
        position: absolute;
        right: 0;
        bottom: -124px;
    }

    &__imgs {
        margin-left: 65px;
        margin-right: 166px;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 66px;
    }

    &__imgs--opacity {
        opacity: 0.626;
    }
    
}


@media (max-width: 1139.75px) {
    .brands {
        &__imgs {
            margin-right: 65px;
            gap: 50px;
        }
    }
}

@media (max-width: 1023.75px) {
    .brands {
        &__imgs {
            margin-left: 10px;
            margin-right: 10px;
            gap: 25px;
        }

        &__imgs img {
            // flex: 1 0 calc((100% - 40px)/5);
            // max-width: calc((100% - 40px)/5);
            max-width: 120px;
        }
    }
    
}

@media (max-width: 767.75px) {

}