.brands {
    &__body {
        min-height: 227px;
        background: #FFFFFF;
        box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
        border-radius: 2px;
        position: absolute;
        right: 0;
        bottom: -124px;
        max-width: 1276px;
    }

    &__imgs {
        margin-left: 65px;
        margin-right: 166px;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 66px;
    }

    &__imgs--opacity {
        opacity: 0.626;
    }
    
}