.intro {
    & {
        background-image: url(../imgs/intro/intro-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 1015px;
        position: relative;
        z-index: 1;
        margin-bottom: 244px;
    }

    &__subtitle {
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        margin-bottom: 22px;
    }

    &__title {
        font-weight: 700;
        font-size: 60px;
        line-height: 74px;
        color: #FFFFFF;
        max-width: 616px;
        margin-bottom: 24px;
    }

    &__description {
        max-width: 581px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        margin-bottom: 45px;
    }
}


@media (max-width: 767.75px) {
    .intro {
        &__title {
            max-width: 100%;
            font-size: 45px;
            line-height: 60px;
        }
    }
}