.project {
    & {
        margin-top: 184px;
        padding-bottom: 185px;
    }

    &__items {
        max-width: 1305px;
        margin: 0 auto;
    }

    &__about {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 110px;
        gap: 133px;
        border-top: 1px solid rgba(33, 56, 66, 0.0955529);
        padding-top: 150px;
    }

    &__img {
        position: relative;
        display: block;
    }

    &__subtitle {
        line-height: 48px;
        margin-bottom: 24px;
    }

    &__description{
        margin-bottom: 26px;
        max-width: 421px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item--left {
        margin-top: 165px;
        margin-bottom: 135px;
        max-width: 1268px;
    }

    &__element {
        max-width: 776px;
        position: relative;
    }

    &__commentary--top {
        position: absolute;
        bottom: -65px;
        right: -40px;
    }

    &__commentary--middle {
        position: absolute;
        left: -40px;
        bottom: -35px;
    }
    
    &__commentary--bottom {
        position: absolute;
        right: -41px;
        bottom: -40px;
    }
}

@media (max-width: 1139.75px) {
    .project {
        &__about {
            justify-content: space-between;
            border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
            padding-top: 35px;
            margin-bottom: 0;
        }

        &__item {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__item--left{
            margin-top: 100px;
            margin-bottom: 100px;
        }

        &__description {
            max-width: none;
        }

        &__section {
            text-align: center;
            order: -1;
            margin-top: 0;
            margin-bottom: 100px;
            
            .link__text {
                justify-content: center;
            }
        }
    }
}

@media (max-width: 1023.75px) {
    .project {
        &__about {
            gap: 0px;
            text-align: center;
        } 
        
        &__commentary--top,
        &__commentary--bottom {
            right: -10px;
        }

        &__commentary--middle {
            left: -10px;
        }
    }
}

@media (max-width: 767.75px) {
    .project {
        margin-left: 10px;
        margin-right: 10px;

        &__img {
            max-width: 100%;
            border-radius: 10px;
        }

        &__commentary--top,
        &__commentary--bottom {
            position: relative;
            right: 0;
        }
        
        &__commentary--middle {
            position: relative;
            left: 0;
        }

        &__item {
            margin-top: 65px;
        }

        &__item--left {
            margin-bottom: 0;
        }
    }

    .commentary {
        bottom: -10px;

        &__body {
            border-radius: 10px;
        }
    }
}
