.workshop {
    & {
        padding-top: 149px;
        padding-bottom: 322px;
        border-top: 1px solid rgba(33, 56, 66, 0.0955529);
        position: relative;
    }

    &__subtitle {
        max-width: 607px;
        margin-bottom: 87px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 255px;
        max-width: calc((100% - 90px)/4);
        min-height: 309px;
        padding-bottom: 36px;
    }

    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        text-transform: uppercase;
        color: #4D533C;
        margin: 27px 42px 20px 30px;
    }

    &__description {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: rgba(33, 56, 66, 0.6);
        margin-left: 30px;
        margin-right: 31px;
    }

    &__link {
        margin-top: auto;
        padding-left: 30px;
    }
}

@media (max-width: 1139.75px) {
    .workshop {
        &__subtitle {
            max-width: 100%;
            text-align: center;
        }

        &__title {
            margin-right: 20px;
        }
        
        &__row {
            gap: 25px;
        }
        &__box {
            max-width: calc((100% - 75px)/4);
        }
        
    }
}

@media (max-width: 1023.75px) {
    .workshop {
        &__box {
            max-width: calc((100% - 150px)/2);
        }

        &__row {
            row-gap: 0;
            column-gap: 150px;
        }
    }
}

@media (max-width: 767.75px) {
    .workshop {
        &__box {
            max-width: calc((100% - 60px)/1);
            justify-content: center;
            align-items: center;
        }

        &__row {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__link {
            padding-left: 0;
        }

        &__title,
        &__description {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
