.about.container(id="about")
    .about__section
        h4.about__title What we do for you
        h2.about__subtitle Strategy. Design  Content. <span class="about__subtitle--marked">Technology</span> Development     
        h3.about__description There’s no secret sauce, no wizard behind the curtain. What makes Aerolab tick is an interdisciplinary team with a framework that fosters candid collaboration.
        .link
            a.link__text(href="#about") More know About us
                svg.link__triangle(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                    path(d='M15 10l-9 5V5l9 5z')
    .about__commentary.commentary
        p.commentary__text.commentary__text--big With More than 10 Years of Knowledge and Expertise we Design and Code Websites and Apps, We Build Brands and Help Them Succeed
        .commentary__item.commentary__item--big
            img.commentary__img(src="./assets/imgs/commentary/genevieve-rodriquez.jpg", alt="Genevieve Rodriquez Photo")
            .commentary__caption
                h3.commentary__name.commentary__name--big Genevieve Rodriquez
                h4.commentary__post.commentary__post--big Founder & CEO, Webovio
