.swiper
    // Additional required wrapper
    .swiper-wrapper
        // Slides
        .swiper-slide
            .swiper__imgs
                a(href="#brands") 
                    img(src="./assets/imgs/brands/andrew-porter-logo.jpg", alt="Andrew Porter Logo")
        .swiper-slide
            .swiper__imgs
                a(href="#brands") 
                    img(src="./assets/imgs/brands/jalen-rose-leadership-academy-logo.jpg", alt="Jalen Rose Leadership Academy Logo")
        .swiper-slide
            .swiper__imgs
                a(href="#brands") 
                    img(src="./assets/imgs/brands/walbridge-logo.jpg", alt="Walbridge Logo")
        .swiper-slide
            .swiper__imgs
                a(href="#brands")
                    img(src="./assets/imgs/brands/ideal-contracting-logo.jpg", alt="Ideal Contracting Logo")
        .swiper-slide
            .swiper__imgs
                a(href="#brands") 
                    img(src="./assets/imgs/brands/phalen-leadership-logo.jpg", alt="Phalen Leadership Logo")