.brands
    .brands__body
        .brands__imgs.brands__imgs--opacity
            a(href="#brands") 
                img(src="./assets/imgs/brands/andrew-porter-logo.jpg", alt="Andrew Porter Logo")
            a(href="#brands") 
                img(src="./assets/imgs/brands/jalen-rose-leadership-academy-logo.jpg", alt="Jalen Rose Leadership Academy Logo")
            a(href="#brands") 
                img(src="./assets/imgs/brands/walbridge-logo.jpg", alt="Walbridge Logo")
            a(href="#brands")
                img(src="./assets/imgs/brands/ideal-contracting-logo.jpg", alt="Ideal Contracting Logo")
            a(href="#brands") 
                img(src="./assets/imgs/brands/phalen-leadership-logo.jpg", alt="Phalen Leadership Logo")