footer
    .banner
        h2.banner__title Let’s make something amazing together.
        a(href="#banner__box")
            img(src="./assets/imgs/text/lets-get-started.svg", alt="Let's get started")
