footer
    .banner
        h2.banner__title Let’s make something amazing together.
        a(href="#banner__box")
            img(src="./assets/imgs/text/lets-get-started.svg", alt="Let's get started")
    .footer.container
        .footer__contacts
            .footer__phone 
                h5.footer__subtitle Phone
                a.footer__title(href="tel:+3250312832") 
                    h4.footer__title +32 50 31 28 32
            .footer__adress
                h5.footer__subtitle Adress
                a.footer__title(href="#footer") 
                    h4.footer__title 491 Merlin Crest Suite 963
        .footer__body
            .footer__services.footer__box
                h4.footer__title.footer__title--uppercase Services
                li.footer__pages
                    a.footer__subtitle(href="#footer") 
                        ul Strategy Design
                    a.footer__subtitle(href="#footer") 
                        ul Product Design
                    a.footer__subtitle(href="#footer") 
                        ul Content Strategy
                    a.footer__subtitle(href="#footer") 
                        ul Brand Strategy
                    a.footer__subtitle(href="#footer") 
                        ul Development
            .footer__help.footer__box 
                h4.footer__title.footer__title--uppercase Help and advice
                li.footer__pages
                    a.footer__subtitle(href="#footer") 
                        ul How it works
                    a.footer__subtitle(href="#footer") 
                        ul Contact Support
                    a.footer__subtitle(href="#footer") 
                        ul Privacy Policy
                    a.footer__subtitle(href="#footer") 
                        ul FAQ
            .footer__company.footer__box
                h4.footer__title.footer__title--uppercase Company
                li.footer__pages
                    a.footer__subtitle(href="#footer") 
                        ul About
                    a.footer__subtitle(href="#footer") 
                        ul Blog
                    a.footer__subtitle(href="#footer") 
                        ul Contact
                    a.footer__subtitle(href="#footer") 
                        ul Jobs
            .footer__border
            .footer__socials
                h4.footer__title.footer__title--uppercase Get in Touch
                h5.footer__subtitle.footer__subtitle-socials Feel free to get in touch with us vai email
                a.footer__title.footer__email(href="mailto:'info.webovio@gmail.com'") 
                    h4 info.webovio@gmail.com
        .footer__data
            .footer__logo
                include footer__logo.pug
            h5.footer__subtitle.footer__creator © 2020@webovio. All Rights Reserved.