header.header.container
    include header__logo.pug
    .header__menu.menu
        .menu__icon
            span 
        nav.menu__body
            ul.menu__list
                li
                    a.menu__link(href="#about") About us
                li
                    a.menu__link(href="#project") Projects
                li
                    a.menu__link(href="#workshop") Workshops
                li
                    a.menu__link.menu__link--off(href="#footer") Contacts
