header.header.container
    include header__logo.pug
    .header__menu.menu
        .menu__icon
            span 
        nav.menu__body
            ul.menu__list
                li
                    a.menu__link(href="#") About us
                li
                    a.menu__link(href="#") Blog
                li
                    a.menu__link(href="#") Projects
                li
                    a.menu__link(href="#") Workshops
                li
                    a.menu__link(href="#") Contacts
