.intro
    include header.pug
    .intro__about.container
        h4.intro__subtitle A place where
        h2.intro__title A creative agency for redemptive brands
        h3.intro__description Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.
        a(href="#")
            img(src="./assets/imgs/text/get-in-touch.svg", alt="Get in Touch")
    include brands.pug