.intro
    include header.pug
    .intro__about.container
        h4.intro__subtitle A place where
        h2.intro__title A creative agency for redemptive brands
        h3.intro__description Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.
        .link
            a.link__text(href="#") Get in Touch
                svg.link__triangle(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                    path(d='M15 10l-9 5V5l9 5z')
    include brands.pug