.logo
    .logo__image
        a(href="#")
            img.logo__image--center(src="./assets/imgs/logo/logo-part-1.png", alt="Logo")  
            img.logo__image--left(src="./assets/imgs/logo/logo-part-2.png", alt="Logo")
            img.logo__image--right(src="./assets/imgs/logo/logo-part-3.png", alt="Logo")
    a(href="#")
        img.logo__name(src="./assets/imgs/logo/logo-name.png", alt="Company name")