.project.container
    .project__about.about 
        h2.about__subtitle.about__subtitle--small We Have Some Awesomr Project.
        h3.about__description.about__description--small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,