mixin project-description(args={})
    .about__section.project__section
        h2.about__subtitle.project__subtitle=args.subtitle
        h3.about__description.project__description=args.description_first_paragraph
        h3.about__description.project__description=args.description_second_paragraph
        a(href="#") 
            img(src="./assets/imgs/text/see-case-study.svg", alt="See Case Study")
