mixin workshop-box(args={})
    .workshop__box
        h3.workshop__title!=args.title
        h4.workshop__description=args.description
        a.workshop__link(href="#workshop__box")
            img(src=args.img, alt="") 