* {
    box-sizing: border-box;
}

html {
    background-color: white;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: black;
    scroll-behavior: smooth;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    opacity: 0.85;
}

a:hover {
    opacity: 1;
}

li {
    opacity: 0.85;
}

li:hover {
    opacity: 1;
}

img {
    display: inline-block;
}

.link {
    &__text {
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #D4D6D4;
        text-decoration: underline;
        display: flex;
        align-items: center;
    }

    &__text--uppercase {
        text-transform: uppercase;
    }
    
    &__triangle {
        height: 14px;
        fill: #D4D6D4;
        order: -1;
    }

    &:hover .link__text {
        fill:  #FFD723;
        color: #FFD723;
    }

    &:hover .link__triangle {
        fill:  #FFD723;
        color: #FFD723;
    }
}




/* 1024px-1139.75px */
@media (max-width: 1139.75px) {
    .container{
        max-width: 100%;
    }
}

/* 768px-1023.75px */
@media (max-width: 1023.75px) {

}

/* 320px-767.75px*/
@media (max-width: 767.75px) {
    .container {
        padding: 0 10px;
    }
}