* {
    box-sizing: border-box;
}

html {
    background-color: white;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: black;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    opacity: 0.85;
}

a:hover {
    opacity: 1;
}

li {
    opacity: 0.85;
}

li:hover {
    opacity: 1;
}

img {
    display: inline-block;
}

/* 1024px-1139.75px */
@media (max-width: 1139.75px) {
    .container{
        max-width: 100%;
    }
    
}

/* 768px-1023.75px */
@media (max-width: 1023.75px) {
    
}

/* 320px-767.75px*/
@media (max-width: 767.75px) {

}